@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    min-width: 360px;
        color: #333;

}


.sections-swiper {
    height: calc(100vh - 1px);
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}



.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

.sections-swiper>.swiper-wrapper>.swiper-slide {
    box-sizing: border-box;
}
.home-hero {
    background: #1f3d56;
    overflow: hidden;
    position: relative;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}



.home-hero .bg-holder {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.home-hero .bg-holder>img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}
img {
    border-style: none;
}

.home-hero .bg-holder:after {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #787878);
    bottom: 0;
    content: "";
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.home-hero .hero-wrap {
    bottom: 200px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 36px;
}

.home-hero .hero-title {
    color: #fff;
    display: block;
    font-size: 40px;
    line-height: 1.09;
    margin: 0 -10px;
    text-align: center;
    width: auto;
}
.anim-title.ready, .main-nav li>a.ready {
    opacity: 1;
}
.anim-title, .main-nav li>a {
    opacity: 0;
    overflow: hidden;
    width: 100%;
}
b, strong {
    font-weight: bolder;
}

.home-hero .hero-title span {
    color: #91c6e5;
}

.home-hero .bg-holder:before {
    background: url(hero_img2.svg) no-repeat 0 0;
    background-size: 552px 742px;
    content: "";
    height: 742px;
    opacity: .3;
    position: absolute;
    right: -175px;
    top: 125px;
    width: 552px;
    z-index: 1;
}

.home-services {
  background: #1f3d56;
  color: #fff;
  padding-bottom: 20px;
  padding-top: 20px
}

.home-services .head-text {
  margin-bottom: 30px
}

.home-services h1 {
  color: #fff;
  font-size: 32px;
  line-height: 1.11;
  text-align: right
}

.home-services h1 span {
  color: #91c6e5
}

.home-services .book-services {
  margin: 0
}

.home-services .book-services .block {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px
}

.home-services .book-services .service-text {
  border-bottom: 2px solid #cddfeb;
  flex: 1;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 13px
}

.home-services .book-services .service-text a {
  color: #fff
}

.home-services .book-services .book-link {
  font-family: Poppins, Helvetica Neue, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-left: 9px;
  text-align: right;
  text-transform: uppercase;
  width: 80px
}

.home-services .book-services .book-link a {
  color: #d2bc8a;
  padding: 0 1px 2px;
  position: relative
}

.home-services .book-services .book-link a:after {
  background: #91c6e5;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  right: 0
}

.home-services .book-services .book-link a:hover {
  color: #fff
}

.home-services .book-services .text-right {
  padding-top: 23px
}

.home-intro {
    background: #1f3d56;
    color: #fff;
    padding-bottom: 50px;
    padding-top: 50px;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.home-intro h1 {
    color: #fff;
    font-size: 41px;
    line-height: .9512;
}

.home-intro p {
    margin-bottom: 1.7em;
}

.btn.btn-primary {
    background: #fff;
    color: #1f3d56;
}
.btn {
    border: 5px solid #d2bc8a;
    border-radius: 24px;
    display: inline-block;
    font-family: Poppins, Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 1.25;
    padding: 7px 16px;
}
.btn, .footer .copy {
    text-align: center;
    text-transform: uppercase;
}
a, a:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}
a {
    color: #91c6e5;
    transition: color .35s 
cubic-bezier(.3, .86, .36, .95), background .35s 
cubic-bezier(.3, .86, .36, .95), opacity .35s 
cubic-bezier(.3, .86, .36, .95);
}
a {
    background-color: transparent;
}

.sections-swiper>.swiper-wrapper>.swiper-slide {
    box-sizing: border-box;
}

.home-services {
    background: #1f3d56;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.home-services .head-text {
    margin-bottom: 30px;
}
.anim-title.ready, .main-nav li>a.ready {
    opacity: 1;
}

.home-services h1 {
    color: #fff;
    font-size: 32px;
    line-height: 1.11;
    text-align: right;
}
.anim-title, .main-nav li>a {
    opacity: 0;
    overflow: hidden;
    width: 100%;
}

.home-services h1 span {
    color: #91c6e5;
}

.home-services .book-services {
    margin: 0;
}

.home-services .book-services .block {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.home-services .book-services .service-text {
    border-bottom: 2px solid #cddfeb;
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 13px;
}

.home-services .book-services .service-text a {
    color: #fff;
}
a, a:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}
a {
    color: #91c6e5;
    transition: color .35s 
cubic-bezier(.3, .86, .36, .95), background .35s 
cubic-bezier(.3, .86, .36, .95), opacity .35s 
cubic-bezier(.3, .86, .36, .95);
}
a {
    background-color: transparent;
}

.home-services .book-services .book-link {
    font-family: Poppins, Helvetica Neue, Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin-left: 9px;
    text-align: right;
    text-transform: uppercase;
    width: 80px;
}

.home-services .book-services .book-link a {
    color: #d2bc8a;
    padding: 0 1px 2px;
    position: relative;
}
a, a:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}
a {
    color: #91c6e5;
    transition: color .35s 
cubic-bezier(.3, .86, .36, .95), background .35s 
cubic-bezier(.3, .86, .36, .95), opacity .35s 
cubic-bezier(.3, .86, .36, .95);
}
a {
    background-color: transparent;
}

.home-services .book-services .text-right {
    padding-top: 23px;
}
.text-right {
    text-align: right;
}

.btn-link {
    color: #d2bc8a;
    display: inline-block;
    font-family: Poppins, Helvetica Neue, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 7px;
    position: relative;
}

@media (min-width: 768px) {
    .sections-swiper {
        height: auto;
    }
    #footer, .sections-swiper>.swiper-wrapper {
        display: block;
    }

    .home-hero .bg-holder {
        height: 100vh;
        margin-left: 22.8%;
    }

    .home-hero .hero-wrap {
        bottom: 25px;
    }

        .home-hero .hero-title {
        font-size: 70px;
        line-height: 1.1;
        max-width: 660px;
        text-align: left;
    }

    .home-hero .bg-holder:before {
        background-size: 510px 634px;
        height: 634px;
        right: -37px;
        top: 12px;
        width: 510px;
    }

    .home-intro {
        padding-bottom: 34px;
        padding-top: 85px;
    }

    .home-intro .holder {
        line-height: 1.75;
        max-width: 550px;
    }

    .home-intro h1 {
        font-size: 55px;
        line-height: 1.03636;
        margin-bottom: 19px;
    }

        .home-intro p {
        margin-bottom: 1.9em;
    }

        .home-intro .btn {
        padding: 8px 24px;
    }

    .home-services {
        padding-bottom: 219px;
        padding-top: 34px;
    }

    .home-services .head-text {
        margin-bottom: 81px;
        margin-left: auto;
        max-width: 600px;
    }   

    .home-services h1 {
        font-size: 55px;
    }

    .home-services .book-services {
        padding: 0 27px;
    }

    .home-services .book-services .block {
        margin-bottom: 24px;
    }

    .home-services .book-services .service-text {
        font-size: 35px;
        padding-bottom: 23px;
    }

    .home-services .book-services .book-link {
        font-size: 20px;
        margin-left: 5px;
        width: 120px;
    }

    .home-services .book-services .text-right {
        padding-top: 26px;
    }

    .btn-link {
        font-size: 28px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 18px;
        line-height: 1.5556;
    }
    
    .home-hero .hero-wrap {
        bottom: 36px;
    }

        .home-hero .hero-title {
        font-size: 100px;
        max-width: 70%;
    }

    .home-hero .bg-holder:before {
        background-size: 899px 1125px;
        height: 1125px;
        right: -55px;
        top: 22px;
        width: 899px;
    }

    .home-intro {
        padding-bottom: 42px;
    }
    .home-intro .holder {
        line-height: 1.6667;
        max-width: 735px;
    }

    .home-intro h1 {
        font-size: 70px;
        line-height: 1.028;
        margin-bottom: 10px;
    }

        .home-intro p {
        margin-bottom: 1.3em;
    }

        .home-services {
        padding-bottom: 216px;
        padding-top: 42px;
    }

        .home-services .head-text {
        margin-bottom: 62px;
        max-width: 750px;
    }

        .home-services h1 {
        font-size: 70px;
    }

    .home-services .book-services {
        max-width: 50%;
        padding: 0;
    }

    .home-services .book-services .text-right {
        padding-top: 32px;
    }
}

@media (min-width: 1600px) {
    .home-intro {
        padding-bottom: 50px;
        padding-top: 127px;
    }
        .home-intro .holder {
        max-width: 975px;
    }

        .home-intro h1 {
        font-size: 90px;
        line-height: 1.0222;
        margin-bottom: 17px;
    }

        .home-intro p {
        margin-bottom: 1.9em;
    }
}