@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
    --lt-color-white: #fff !important;
    --lt-color-black: #111213 !important;
    --lt-color-transparent: rgba(255, 255, 255, 0) !important;
    --lt-color-background-light: var(--lt-color-gray-100) !important;
    --lt-color-background-default: var(--lt-color-gray-200) !important;
    --lt-color-background-dark: var(--lt-color-gray-300) !important;
    --lt-color-border-light: var(--lt-color-gray-200) !important;
    --lt-color-border-default: var(--lt-color-gray-300) !important;
    --lt-color-border-dark: var(--lt-color-gray-400) !important;
    --lt-color-text-very-light: var(--lt-color-gray-500) !important;
    --lt-color-text-light: var(--lt-color-gray-600) !important;
    --lt-color-text-default: var(--lt-color-gray-700) !important;
    --lt-color-text-dark: var(--lt-color-gray-800) !important;
    --lt-color-overlay-default: #fff !important;
    --lt-color-overlay-dark: #fff !important;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1) !important;
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3) !important;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    min-width: 360px;
    color: #333;

}


.sections-swiper {
    height: calc(100vh - 1px);
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}



.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

.sections-swiper>.swiper-wrapper>.swiper-slide {
    box-sizing: border-box;
}

.home-hero {
    background: #1f3d56;
    overflow: hidden;
    position: relative;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}



.home-hero .bg-holder {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.home-hero .bg-holder>img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}

img {
    border-style: none;
}

.home-hero .bg-holder:after {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #787878);
    bottom: 0;
    content: "";
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.home-hero .hero-wrap {
    bottom: 200px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 36px;
}

.home-hero .hero-title {
    color: #fff;
    display: block;
    font-size: 40px;
    line-height: 1.09;
    margin: 0 -10px;
    text-align: center;
    width: auto;
}

.anim-title.ready,
.main-nav li>a.ready {
    opacity: 1;
}

.anim-title,
.main-nav li>a {
    opacity: 1;
    overflow: hidden;
    width: 100%;
}

b,
strong {
    font-weight: bolder;
}

.home-hero .hero-title span {
    color: #91c6e5;
}

.home-hero .bg-holder:before {
    background: url(hero_img2.svg) no-repeat 0 0;
    background-size: 552px 742px;
    content: "";
    height: 742px;
    opacity: .3;
    position: absolute;
    right: -175px;
    top: 125px;
    width: 552px;
    z-index: 1;
}

.home-services {
    background: #1f3d56;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px
}

.home-services .head-text {
    margin-bottom: 30px
}

.home-services h1 {
    color: #fff;
    font-size: 32px;
    line-height: 1.11;
    text-align: right
}

.home-services h1 span {
    color: #91c6e5
}

.home-services .book-services {
    margin: 0
}

.home-services .book-services .block {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px
}

.home-services .book-services .service-text {
    border-bottom: 2px solid #cddfeb;
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 13px
}

.home-services .book-services .service-text a {
    color: #fff
}

.home-services .book-services .book-link {
    font-family: Poppins, Helvetica Neue, Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin-left: 9px;
    text-align: right;
    text-transform: uppercase;
    width: 80px
}

.home-services .book-services .book-link a {
    color: #d2bc8a;
    padding: 0 1px 2px;
    position: relative
}

.home-services .book-services .book-link a:after {
    background: #91c6e5;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    right: 0
}

.home-services .book-services .book-link a:hover {
    color: #fff
}

.home-services .book-services .text-right {
    padding-top: 23px
}

.home-intro {
    background: #1f3d56;
    color: #fff;
    padding-bottom: 50px;
    padding-top: 50px;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.home-intro h1 {
    color: #fff;
    font-size: 41px;
    line-height: .9512;
}

.home-intro p {
    margin-bottom: 1.7em;
}

.btn.btn-primary {
    background: #fff;
    color: #1f3d56;
}

.btn {
    border: 5px solid #d2bc8a;
    border-radius: 24px;
    display: inline-block;
    font-family: Poppins, Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 1.25;
    padding: 7px 16px;
}

.btn,
.footer .copy {
    text-align: center;
    text-transform: uppercase;
}

a,
a:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

a {
    color: #91c6e5;
    transition: color .35s cubic-bezier(.3, .86, .36, .95), background .35s cubic-bezier(.3, .86, .36, .95), opacity .35s cubic-bezier(.3, .86, .36, .95);
}

a {
    background-color: transparent;
}

.sections-swiper>.swiper-wrapper>.swiper-slide {
    box-sizing: border-box;
}

.home-services {
    background: #1f3d56;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.home-services .head-text {
    margin-bottom: 30px;
}

.anim-title.ready,
.main-nav li>a.ready {
    opacity: 1;
}

.home-services h1 {
    color: #fff;
    font-size: 32px;
    line-height: 1.11;
    text-align: right;
}

.anim-title,
.main-nav li>a {
    opacity: 0;
    overflow: hidden;
    width: 100%;
}

.home-services h1 span {
    color: #91c6e5;
}

.home-services .book-services {
    margin: 0;
}

.home-services .book-services .block {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.home-services .book-services .service-text {
    border-bottom: 2px solid #cddfeb;
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 13px;
}

.home-services .book-services .service-text a {
    color: #fff;
}

a,
a:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

a {
    color: #91c6e5;
    transition: color .35s cubic-bezier(.3, .86, .36, .95), background .35s cubic-bezier(.3, .86, .36, .95), opacity .35s cubic-bezier(.3, .86, .36, .95);
}

a {
    background-color: transparent;
}

.home-services .book-services .book-link {
    font-family: Poppins, Helvetica Neue, Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin-left: 9px;
    text-align: right;
    text-transform: uppercase;
    width: 80px;
}

.home-services .book-services .book-link a {
    color: #d2bc8a;
    padding: 0 1px 2px;
    position: relative;
}

a,
a:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

a {
    color: #91c6e5;
    transition: color .35s cubic-bezier(.3, .86, .36, .95), background .35s cubic-bezier(.3, .86, .36, .95), opacity .35s cubic-bezier(.3, .86, .36, .95);
}

a {
    background-color: transparent;
}

.home-services .book-services .text-right {
    padding-top: 23px;
}

.text-right {
    text-align: right;
}

.btn-link {
    color: #d2bc8a;
    display: inline-block;
    font-family: Poppins, Helvetica Neue, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 7px;
    position: relative;
}

.home-services h1 {
    color: #fff;
    font-size: 32px;
    line-height: 1.11;
    text-align: right;
}

.anim-title.ready, .main-nav li>a.ready {
    opacity: 1;
}

.anim-title.ready, .main-nav li>a.ready {
    opacity: 1;
}

.sections-swiper>.swiper-wrapper>.swiper-slide {
    box-sizing: border-box;
}
.sections-swiper>.swiper-wrapper>.swiper-slide {
    box-sizing: border-box;
}

.doctor-section {
    background: #d2bc8a;
    color: #fff;
    padding-bottom: 85px;
    padding-top: 1px;
    position: relative;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.doctor-section .doctor-wrap {
    position: relative;
}
.doctor-section .doctor-wrap {
    position: relative;
}

.doctor-section .image-holder {
    margin-right: -36px;
    margin-top: 0;
    padding-top: 158%;
    position: relative;
}

.doctor-section .image-holder img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}
.doctor-section .image-holder img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}

.doctor-section .image-holder:after {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #787878);
    bottom: 0;
    content: "";
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    top: 15%;
}
.doctor-section .image-holder:after {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #787878);
    bottom: 0;
    content: "";
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    top: 15%;
}

.doctor-section .desc-holder {
    bottom: 22px;
    left: 11px;
    position: absolute;
}

.doctor-section h1 {
    color: #fff;
    font-size: 48px;
    line-height: .8542;
    margin-bottom: 1rem;
}

.doctor-section .btn {
    margin-bottom: 24px;
    padding: 6px 24px;
}
.btn.btn-primary:hover, .btn.btn-secondary {
    background: #1f3d56;
    color: #fff;
}

.doctor-section .text {
    display: block;
    font: 400 22px / 1 Poppins, Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
}

.sections-swiper>.swiper-wrapper>.swiper-slide {
    box-sizing: border-box;
}
.sections-swiper>.swiper-wrapper>.swiper-slide {
    box-sizing: border-box;
}

.patients-section {
    background: #d2bc8a;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    z-index: 0;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.swiper-horizontal {
    touch-action: pan-y;
}
.swiper {
    margin-left: auto;
    /* margin-right: auto; */
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}
.swiper-horizontal {
    touch-action: pan-y;
}
.swiper {
    margin-left: auto;
    /* margin-right: auto; */
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.patients-section .patient-slider .swiper-wrapper {
    z-index: -1;
}
.patients-section .patient-slider .swiper-wrapper {
    z-index: -1;
}
.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}
.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

.swiper-fade .swiper-slide-active {
    pointer-events: auto;
}
.swiper-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
}
.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.swiper-fade .swiper-slide-active {
    pointer-events: auto;
}
.swiper-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
}
.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.patients-section .image-outer {
    padding-left: 22px;
    padding-top: 32px;
}
.patients-section .image-holder {
    height: 257px;
    margin: 0 auto 35px;
    position: relative;
    width: 257px;
}

a, a:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}
a {
    color: #91c6e5;
    transition: color .35s 
cubic-bezier(.3, .86, .36, .95), background .35s 
cubic-bezier(.3, .86, .36, .95), opacity .35s 
cubic-bezier(.3, .86, .36, .95);
}

a {
    background-color: transparent;
}

.patients-section .rotate-text-holder {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(-100deg);
    transition: transform .75s 
linear;
    width: 100%;
    transform: translate3d(0px, 0px, 0px) rotate(62.4238deg);
    translate: none;
    rotate: none;
    scale: none;
}

.patients-section .swiper-button-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 53%;
    position: absolute;
    top: 240px;
    transform: translateX(-50%);
    width: 250px;
    z-index: 1;
}
.patients-section .rotate-text-holder {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(-100deg);
    transition: transform .75s 
linear;
    width: 100%;
}

.patients-section .image-holder img {
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
}

.patients-section .image-holder a:after {
    background: rgba(31, 61, 86, .69);
    border-radius: 100%;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .35s 
cubic-bezier(.3, .86, .36, .95), visibility .35s 
cubic-bezier(.3, .86, .36, .95);
    visibility: hidden;
}

.patients-section .desc-holder {
    font: 500 16px / 1.5625 Poppins, Helvetica Neue, Arial, sans-serif;
    padding: 0 4px;
}

.patients-section .desc-holder p {
    margin-bottom: 10px;
}

.patients-section .desc-holder .name {
    color: #1f3d56;
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 28px;
}

.patients-section .desc-holder .btn-link {
    color: #1f3d56;
    font-size: 13px;
    padding-bottom: 5px;
}

.btn-link:after {
    background: #91c6e5;
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
}

.patients-section .swiper-fade .swiper-slide:not(.swiper-slide-active) {
    opacity: 0 !important;
}
.patients-section .swiper-fade .swiper-slide:not(.swiper-slide-active) {
    opacity: 0 !important;
}
.swiper-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
}
.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.swiper-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
}
.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.patients-section .swiper-fade .swiper-slide:not(.swiper-slide-active) {
    opacity: 0 !important;
}
.patients-section .swiper-fade .swiper-slide:not(.swiper-slide-active) {
    opacity: 0 !important;
}
.swiper-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
}
.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.swiper-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
}
.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.patients-section .image-holder img {
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
}

.patients-section .image-holder a:after {
    background: rgba(31, 61, 86, .69);
    border-radius: 100%;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .35s 
cubic-bezier(.3, .86, .36, .95), visibility .35s 
cubic-bezier(.3, .86, .36, .95);
    visibility: hidden;
}

.patients-section .desc-holder .btn-link {
    color: #1f3d56;
    font-size: 13px;
    padding-bottom: 5px;
}

.btn-link {
    color: #d2bc8a;
    display: inline-block;
    font-family: Poppins, Helvetica Neue, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 7px;
    position: relative;
}

.btn-link:after {
    background: #91c6e5;
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
}


.patients-section .swiper-button-holder .swiper-button-next, .patients-section .swiper-button-holder .swiper-button-prev {
    background: #1f3d56;
    border-radius: 100%;
    display: block;
    height: 58px;
    left: auto;
    margin: 0;
    position: relative;
    right: auto;
    transition: background .35s 
cubic-bezier(.3, .86, .36, .95);
    width: 58px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 10px);
    right: auto;
}
.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.patients-section .swiper-button-holder .swiper-button-next:after, .patients-section .swiper-button-holder .swiper-button-prev:after {
    color: #d2bc8a;
    content: "";
    font-family: icomoon;
    font-size: 24px;
    left: 47%;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
}
.swiper-button-prev:after, .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.patients-section .swiper-button-holder .swiper-button-next, .patients-section .swiper-button-holder .swiper-button-prev {
    background: #1f3d56;
    border-radius: 100%;
    display: block;
    height: 58px;
    left: auto;
    margin: 0;
    position: relative;
    right: auto;
    transition: background .35s 
cubic-bezier(.3, .86, .36, .95);
    width: 58px;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: auto;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: auto;
}
.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.patients-section .swiper-button-holder .swiper-button-next:after {
    content: "";
    left: 53%;
}
.patients-section .swiper-button-holder .swiper-button-next:after, .patients-section .swiper-button-holder .swiper-button-prev:after {
    color: #d2bc8a;
    content: "";
    font-family: icomoon;
    font-size: 24px;
    left: 47%;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
}
.swiper-button-prev:after, .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.swiper .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

.patients-section:after {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff);
    bottom: 0;
    content: "";
    left: 0;
    opacity: .3;
    position: absolute;
    right: 0;
    top: 15%;
    z-index: -1;
}

.patients-section .image-outer {
    padding-left: 22px;
    padding-top: 32px;
}

.sections-swiper>.swiper-wrapper>.swiper-slide {
    box-sizing: border-box;
}

.contact-section {
    background: #f0f0f0;
    color: #1f3d56;
    text-align: right;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.contact-section .desc-holder {
    padding-bottom: 50px;
    padding-top: 50px;
}

.contact-section h1 {
    font-size: 34px;
    line-height: 1.1136;
    margin-bottom: 30px;
    margin-left: -5px;
}

.contact-section .contact-details {
    font: 600 23px / 1.3043 Poppins, Helvetica Neue, Arial, sans-serif;
}

.contact-section .holder:first-child {
    border-top: 1px solid #a2a0a0;
}

.contact-section .holder {
    border-bottom: 1px solid #a2a0a0;
    padding: 17px 0;
}

.contact-section .holder a {
    color: #1f3d56;
}

.sections-swiper>.swiper-wrapper>.swiper-slide .map-holder {
    background: #fff;
    height: 100%;
    position: relative;
}

.sections-swiper>.swiper-wrapper>.swiper-slide .map-holder img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}
.contact-section .map-holder img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

.anim-title.ready, .main-nav li>a.ready {
    opacity: 1;
}

.anim-title{
    opacity: 1;
}

.map-holder{
    display: block;
}

.footer {
    background: #fff;
    padding-bottom: 90px;
    padding-top: 42px;
}

.footer .footer-logo {
    margin-bottom: 10px;
    width: 120px;
}

.footer .footer-links {
    width: 50%;
    text-align: right;
}
.about-content ul, .contact-section .social-networks, .exams-content ul, .footer .footer-links, .header .main-nav, .header .main-nav .sub-nav ul, .header .social-networks, .meet-content .recognition-block .reco-logos, .services-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.footer .footer-links li {
    font: 600 14px / 1.428 Poppins, Helvetica Neue, Arial, sans-serif;
    margin-bottom: 14px;
    text-align: right;
    text-transform: uppercase;
}

footer .footer-links li a {
    color: #91c6e5;
}

.btn, .footer .copy {
    text-align: center;
    text-transform: uppercase;
}
.footer .copy {
    color: #1f3d56;
    font: 600 11px / 1.3636 Poppins, Helvetica Neue, Arial, sans-serif;
}

.footer .footer-holder {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 18px;
}

.buttons-block {
    background: #fff;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    margin: 0 -2px;
    position: fixed;
    right: 0;
    z-index: 999;
}

.buttons-block .wrap {
    padding: 0 2px;
    width: 50%;
}

.buttons-block a {
    background: #d2bc8a;
    color: #003132;
    display: block;
    font: 500 19px / 1.2631 Lexend, Helvetica Neue, Arial, sans-serif;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
}

.buttons-block{
    display: none;
}

.hidden{
    display: none !important;
}

@media (min-width: 768px) {
    .sections-swiper {
        height: auto;
    }

    #footer,
    .sections-swiper>.swiper-wrapper {
        display: block;
    }

    .home-hero .bg-holder {
        height: 100vh;
        margin-left: 22.8%;
    }

    .home-hero .hero-wrap {
        bottom: 25px;
    }

    .home-hero .hero-title {
        font-size: 70px;
        line-height: 1.1;
        max-width: 660px;
        text-align: left;
    }

    .home-hero .bg-holder:before {
        background-size: 510px 634px;
        height: 634px;
        right: -37px;
        top: 12px;
        width: 510px;
    }

    .home-intro {
        padding-bottom: 34px;
        padding-top: 85px;
    }

    .home-intro .holder {
        line-height: 1.75;
        max-width: 550px;
    }

    .home-intro h1 {
        font-size: 55px;
        line-height: 1.03636;
        margin-bottom: 19px;
    }

    .home-intro p {
        margin-bottom: 1.9em;
    }

    .home-intro .btn {
        padding: 8px 24px;
    }

    .home-services {
        padding-bottom: 219px;
        padding-top: 34px;
    }

    .home-services .head-text {
        margin-bottom: 81px;
        margin-left: auto;
        max-width: 600px;
    }

    .home-services h1 {
        font-size: 55px;
    }

    .home-services .book-services {
        padding: 0 27px;
    }

    .home-services .book-services .block {
        margin-bottom: 24px;
    }

    .home-services .book-services .service-text {
        font-size: 35px;
        padding-bottom: 23px;
    }

    .home-services .book-services .book-link {
        font-size: 20px;
        margin-left: 5px;
        width: 120px;
    }

    .home-services .book-services .text-right {
        padding-top: 26px;
    }

    .btn-link {
        font-size: 28px;
    }

        .home-services h1 {
        font-size: 55px;
    }

    .doctor-section {
        padding-bottom: 50px;
    }

        .doctor-section {
        padding-bottom: 50px;
    }

    .doctor-section .image-holder {
        margin-left: auto;
        margin-right: -55px;
        margin-top: -129px;
        padding-top: 85.5%;
        width: 89.4%;
    }

    .doctor-section .desc-holder {
        bottom: 42px;
        padding: 0 20px;
    }

    .doctor-section h1 {
        font-size: 70px;
        line-height: 1.0285;
        margin-bottom: .7rem;
        max-width: 607px;
    }

    .doctor-section .btn-holder {
        padding-right: 35px;
        text-align: center;
    }

    .doctor-section .btn {
        padding: 8px 32px;
    }

    .doctor-section .text {
        font-size: 29px;
        line-height: 1.0689;
        max-width: 607px;
    }

    .patients-section {
        padding-bottom: 40px;
        padding-top: 15px;
    }

    .patients-section {
        padding-bottom: 40px;
        padding-top: 15px;
    }

    .patients-section .holder {
        display: flex;
        flex-wrap: wrap;
    }

    .patients-section .image-outer {
        padding-bottom: 40px;
        padding-left: 42px;
    }

    .patients-section .image-holder {
        height: 296px;
        margin: 0;
        transform: rotate(-90deg);
        width: 296px;
    }

        .patients-section .image-holder img {
        transform: rotate(90deg);
    }

    .patients-section .rotate-text-holder:after {
        left: -41px;
    }

    .patients-section .desc-holder {
        align-items: center;
        display: flex;
        flex: 1;
        line-height: 1.5;
        padding: 10px 0 48px 62px;
        position: relative;
    }

    .patients-section .desc-holder p {
        margin-bottom: 5px;
    }

    .patients-section .desc-holder .name {
        font-size: 22px;
        margin-bottom: 0;
    }

    .patients-section .desc-holder .btn-link {
        bottom: 50px;
        font-size: 20px;
        left: 62px;
        padding-bottom: 2px;
        position: absolute;
    }

        .patients-section .holder {
        display: flex;
        flex-wrap: wrap;
    }

    .patients-section .image-outer {
        padding-bottom: 40px;
        padding-left: 42px;
    }


    .book-block {
        padding: 14px 0 61px;
    }

    .patients-section .image-holder img {
        transform: rotate(90deg);
    }

    .patients-section .desc-holder .btn-link {
        bottom: 50px;
        font-size: 20px;
        left: 62px;
        padding-bottom: 2px;
        position: absolute;
    }

    .patients-section .swiper-button-holder {
        bottom: 57px;
        left: 72px;
        right: auto;
        top: auto;
        transform: none;
        width: 227px;
    }

    .btn-link {
        font-size: 28px;
    }

    .patients-section .swiper-button-holder .swiper-button-next, .patients-section .swiper-button-holder .swiper-button-prev {
        height: 30px;
        left: 0;
        right: 0;
        width: 30px;
    }

    .patients-section .swiper-button-holder .swiper-button-next:after, .patients-section .swiper-button-holder .swiper-button-prev:after {
        font-size: 12px;
    }

    .patients-section .swiper-button-holder .swiper-button-next, .patients-section .swiper-button-holder .swiper-button-prev {
        height: 30px;
        left: 0;
        right: 0;
        width: 30px;
    }

    .patients-section .swiper-button-holder .swiper-button-next:after, .patients-section .swiper-button-holder .swiper-button-prev:after {
        font-size: 12px;
    }

    .contact-section .desc-holder {
        padding-bottom: 63px;
        padding-top: 68px;
    }

    .contact-section h1 {
        font-size: 68px;
        line-height: 1.0588;
        margin-bottom: 38px;
        margin-left: auto;
        max-width: 640px;
    }

    .contact-section h1 {
    font-size: 34px;
    line-height: 1.1136;
    margin-bottom: 30px;
    margin-left: -5px;
}

        .contact-section .holder {
        padding: 17px 0;
    }

    .contact-section .map-holder {
        display: block;
        padding-top: 94.3%;
    }

    #footer, .sections-swiper>.swiper-wrapper {
        display: block;
    }

        .footer .footer-logo {
        margin-bottom: 14px;
    }

    .footer .footer-links li {
        margin-bottom: 19px;
    }

    .footer .copy {
        font-size: 13px;
        text-align: right;
    }

    .buttons-block{
        display: flex;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 18px;
        line-height: 1.5556;
    }

    .home-hero .hero-wrap {
        bottom: 36px;
    }

    .home-hero .hero-title {
        font-size: 100px;
        max-width: 70%;
    }

    .home-hero .bg-holder:before {
        background-size: 899px 1125px;
        height: 1125px;
        right: -55px;
        top: 22px;
        width: 899px;
    }

    .home-intro {
        padding-bottom: 42px;
    }

    .home-intro .holder {
        line-height: 1.6667;
        max-width: 735px;
    }

    .home-intro h1 {
        font-size: 70px;
        line-height: 1.028;
        margin-bottom: 10px;
    }

    .home-intro p {
        margin-bottom: 1.3em;
    }

    .home-services {
        padding-bottom: 216px;
        padding-top: 42px;
    }

    .home-services .head-text {
        margin-bottom: 62px;
        max-width: 750px;
    }

    .home-services h1 {
        font-size: 70px;
        opacity: 1;
    }

    .home-services .book-services {
        max-width: 50%;
        padding: 0;
    }

    .home-services .book-services .text-right {
        padding-top: 32px;
    }

    .home-services h1 {
        font-size: 70px;
    }

        .doctor-section .image-holder {
        margin-right: 34px;
        padding-top: 48.2%;
        width: 69.3%;
    }

        .doctor-section .desc-holder {
        bottom: 56px;
        padding: 0;
    }

    .doctor-section h1 {
        margin-left: 220px;
        max-width: 50%;
    }

    .doctor-section .btn-holder {
        padding-left: 90px;
        padding-right: 0;
    }

    .doctor-section .text {
        max-width: 100%;
    }

    .patients-section {
        padding-bottom: 7px;
        padding-top: 3px;
    }

        .patients-section {
        padding-bottom: 7px;
        padding-top: 3px;
    }

    .patients-section .patient-slider {
        margin: 0 auto;
        max-width: 938px;
    }

        .patients-section .image-outer {
        padding-bottom: 50px;
        padding-left: 118px;
        padding-top: 52px;
    }

        .patients-section .image-holder {
        height: 385px;
        width: 385px;
    }

    .patients-section .rotate-text-holder:after {
        background-size: 360px 320px;
        height: 320px;
        left: -53px;
        top: -43px;
        width: 360px;
    }

    .patients-section .desc-holder {
        font-size: 22px;
        line-height: 1.2727;
        padding: 10px 0 48px 107px;
    }

    .patients-section .desc-holder p {
        margin-bottom: 35px;
    }

    .patients-section .desc-holder .btn-link {
        bottom: 73px;
        left: 106px;
    }

    .patients-section .image-outer {
        padding-bottom: 50px;
        padding-left: 118px;
        padding-top: 52px;
    }

    .patients-section .image-holder {
        height: 385px;
        width: 385px;
    }

    .book-block {
        padding: 34px 0 82px;
    }

    .patients-section .desc-holder .btn-link {
        bottom: 73px;
        left: 106px;
    }

    .patients-section .swiper-button-holder {
        bottom: 72px;
        left: 158px;
        width: 294px;
    }  

    .patients-section .swiper-button-holder .swiper-button-next, .patients-section .swiper-button-holder .swiper-button-prev {
        height: 40px;
        width: 40px;
    }

    .patients-section .swiper-button-holder .swiper-button-next:after, .patients-section .swiper-button-holder .swiper-button-prev:after {
        font-size: 16px;
    }

    .patients-section .swiper-button-holder .swiper-button-next, .patients-section .swiper-button-holder .swiper-button-prev {
        height: 40px;
        width: 40px;
    }

    .patients-section .swiper-button-holder .swiper-button-next:after, .patients-section .swiper-button-holder .swiper-button-prev:after {
        font-size: 16px;
    }

    .contact-section {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    .contact-section .desc-holder {
        padding-bottom: 52px;
        width: 50%;
    }

    .contact-section h1 {
        font-size: 64px;
        line-height: 1.0625;
        margin-bottom: 47px;
        max-width: 100%;
    }

    .sections-swiper>.swiper-wrapper>.swiper-slide .map-holder {
        height: auto;
    }

    .contact-section .map-holder {
        padding-top: 0;
        width: 50%;
    }

    .footer {
        padding-top: 32px;
    }
}

@media (min-width: 1600px) {
    .home-intro {
        padding-bottom: 50px;
        padding-top: 127px;
    }

    .home-intro .holder {
        max-width: 975px;
    }

    .home-intro h1 {
        font-size: 90px;
        line-height: 1.0222;
        margin-bottom: 17px;
    }

    .home-intro p {
        margin-bottom: 1.9em;
    }

    .contact-section .map-holder {
        padding-top: 0;
        width: 50%;
        display: block;
    }
}

/* @media (min-width: 420px) {
    .patients-section .image-outer {
        padding-left: 20px;
        padding-top: 40px;
    }

        .patients-section .rotate-text-holder {
        transform: rotate(0deg);
        transition: none;
    }

    .patients-section .rotate-text-holder:after {
        background-size: 277px 246px;
        height: 246px;
        left: -37px;
        top: -33px;
        width: 277px;
    }

    .patients-section .swiper-button-holder {
        top: 291px;
        width: 288px;
    }
} */